.message {
  position: absolute;
  width: 300px;
  min-height: 150px;
  right: 20px;
  top: 20px;
  padding: 10px;
  text-align: left;
  opacity: 1;
  border: 1px solid red;
  border-radius: 8px;
  background-color: lightcoral;
}

.message.hidden {
  opacity: 0;
}
