.win {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.win.active {
  display: block;
}

.backgroundWin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.modalWin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #112d49;
  width: 500px;
  height: 120px;
  opacity: 1;
}

header {
  text-align: left;
  margin: 10px;
  font-size: 20px;
}

.textTodo {
  display: block;
  width: 96%;
  box-sizing: border-box;
}

.textTodo::-webkit-input-placeholder {
  color: red;
}

.textTodo::-moz-placeholder {
  color: red;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  text-align: center;
}
